.aws/task-definition.json
.cursor/
*.mdc
.cursorrules
.mo
.vscode/
.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.mockServiceWorker.js
.prettier.config.ts
.prettierignore
.mocks/
./node_modules/
./dist/
./build/
./coverage/
./logs/
./test-results/
./playwright-report/
./blob-report/
./public/mockServiceWorker.js
./public/mockServiceWorker.js.map
./public/mockServiceWorker.js.map.gz
./public/mockServiceWorker.js.map.br